<ion-view view-title="Groceries List">
  <ion-content>
    <ion-list show-reorder="reordering">
      <input type="text" ng-model="searchGrocery" placeholder="Search"/>
      <ion-item class="item-remove-animate item-icon-right" href="#/edit/{{note.$id}}" class="item" ng-repeat="note in notes | filter: searchGrocery">
        <h2>{{note.title | limitTo: 35}}{{note.title.length > 35 ? "..." : ""}}</h2>
        <p>{{note.description}} </p>
        <i class="icon ion-arrow-right-b"></i>
        <ion-reorder-button class="ion-drag" on-reorder="move(note, $fromIndex, $toIndex)"></ion-reorder-button>
        <ion-option-button class="button-assertive icon-left ion-trash-b" ng-click="remove(note.$id)">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer bar-stable">
    <a href="#/add" class="button button-assertive icon-left ion-compose">New Note</a>
    <button class="button button-light icon-left ion-shuffle" ng-click="toggleReordering()">Reorder</button>
    <button class="button button-balanced" ng-click="logout()">Logout</button>
  </div>
</ion-view>
